{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Uploader</title>
    </head>
    <body>
        <p class="spacer"></p>
        <h1 class="container center">Choose your File</h1>
        <br>
        <div class="container center">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{ fileForm }}
                <br>
                <input type="submit" value="Send">
            </form>
            <p id="message"></p>
        </div>
        <div class="container center">
            <a href="serving">
                <button>Download</button>
            </a>
            
        </div>
    <script>
        var checkIcon = "{% static 'icons/check.svg' %}";
    </script>
    {{ status|json_script:"status" }}
    <script src="{% static 'index.js' %}"></script>
    </body>
</html>